@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");


*{
    box-sizing: border-box;
}
a.navbar-brand#logo {
    font-size: 25px;
    font-family: "Dancing Script", cursive;
}
.container-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card-post {
    width: calc(33% - 10px);
}
.card-post .card-title {
    height: 100px;
    word-wrap: break-word;
}
.card-post .card-text {
    height: 100px;
}

@media screen and (max-width: 992px) {
    .card-post {
        width: calc(50% - 10px);
    }
    .container-posts {
        width: 100%;
    }

    @media screen and (max-width: 768px) {
        .card-post {
            width: calc(100% - 10px);
        }
    }
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}
footer {
    width: 100%;
}
#list-categories a {
    text-decoration: none;
}


#list-categories a:hover {
    transition: 0.6s;
    color: red;
}


.card-post-user-max-height {
    height: 165px !important; 
    font-size: .9em !important;
  }

  .container-post-user{
    height: 510px;
  }
 